@font-face {
  font-family: 'CaptureIt';
  src: url('/font/CaptureIt.woff2') format('woff2');
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-family: 'CaptureIt', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3rem;
  color: #eb721c;
}

h2 {
  text-transform: uppercase;
}

a {
  color: #eb721c;
}

.btn-orange {
  background-color: #eb721c;
}

.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active {
  background-color: #8b420c;
}